@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }

  background-color: rgba(242, 243, 255, 1);
}

h1.loginTitle{
  color: rgba(11, 35, 244, 1);
  font-size: 28px;
  font-weight: 600;
  line-height: 100%;
}

h2{
  font-size: 22px;
  font-weight: 500;
  line-height: 100%;
  color:rgba(17, 17, 17, 1);
}

header{
  font-size: 14px;
  font-weight: 400;
}


.nav-list-container{
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 16px;
  gap: 40px;
  padding-right: 48px;

  ul{
    border-right: 1px solid rgba(11, 35, 244, 1);
    padding: 0 40px 0 48px;
    gap: 40px;
  }
}


form input{
  border-color: rgba(113, 113, 113, 1);
  width: 100%;
  padding-left: 10px;
}

form label{
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    color: rgba(112, 112, 112, 1);
}

form button{
  background-color: rgba(11, 35, 244, 1);
  width: 100%;
  padding: 16px 40px 16px 40px;
  border-radius: 16px;
  font-weight: 500;
  line-height: 100%;
}

.black-text{
  color: rgba(17, 17, 17, 1);
}

